* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#root {
  width: 100%;
  margin: 20px 40px;
}
.button-cart{
  background-color: blue;
}
.show-cart{
  background-color: red;
  margin-top: 20px;
}
ul {
  list-style: none;
  display: flex;
  gap: 10px;
}